[package]
name = "rumdl"
version = "0.0.10"
edition = "2021"
description = "A fast Markdown linter written in Rust (Ru(st) MarkDown Linter)"
authors = ["Ruben J. Jongejan <ruben.jongejan@gmail.com>"]
license = "MIT"
repository = "https://github.com/rvben/rumdl"
homepage = "https://github.com/rvben/rumdl"
documentation = "https://github.com/rvben/rumdl/blob/main/docs"
readme = "README.md"
keywords = ["markdown", "linter", "markdown-linter", "static-analysis", "documentation"]
categories = ["command-line-utilities", "development-tools", "text-processing"]
exclude = [".github/", ".gitignore", "*.bak"]

[dependencies]
clap = { version = "4.4", features = ["derive"] }
regex = "1.10.2"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
thiserror = "1.0"
walkdir = "2.4"
colored = "2.0"
lazy_static = "1.4.0"
fancy-regex = "0.13.0"
toml = "0.8.10"
glob = "0.3.1"
ignore = "0.4"

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
tempfile = "3.8"
ignore = "0.4"
walkdir = "2.3"
glob = "0.3" 